<div>
    {{#each carts}}
        <li>
           
        
<strong>cart id: </strong>{{this._id}} -

            <strong>products: </strong>{{this.Products}} -
            
            
        </li>
      
    {{/each}}

</div>